body {
    width: 100%;
    margin: 0 auto;
}

header {
    background: #ffffff;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    margin: 0 auto;
    border-bottom: 5px solid #cccccc;
    padding: 57px;
    position: relative;
}

/*Navbar for all pages*/
nav {
    
    width: 960px;
    margin: 0 auto;
    height: 30px;
    
}

nav li {
    display: inline-block;
    padding-right: 10px;
    position: inherit;
    
    
}

#your-name {
    float: left;
    background: #4aaaa5;
    color: #ffffff;
    padding: 10px 10px 10px 10px;
    
}

.right-side {
    float: right;
    color: #777777;
    padding-left: 2px;
    font-size: small;
    padding-top:50px;
}



/*div that holds picture and article*/

div {
    width: 960px;
    margin: 0 auto;
    clear: both;
    display: table
}

/*images sizing up and down*/
img {
    max-width: 50%;
    height: auto;
    
    
}


/*article for all pages*/
article {
    width: 80%;
    margin: 0 auto;
    min-height: 80vh;
}

article h1 {
    color:#4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

article p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

/*footer for all pages*/
footer {
    clear: both;
    bottom: 0px;
    text-align: center;
    background: #666666;
    height: 100px;
    margin: 0px auto;
    border-top: 5px solid #4aaaa5;
    width: 100%;
    

    

}

footer p {
    color:#777777;
}

/*Form sections*/
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

/*picture grid*/

* {
    box-sizing: border-box;
}
/*
body {
    margin: 0;
    font-family: Arial;
}

.header {
    text-align: center;
    padding: 32px;
}*/

/* .row {
    display: -ms-flexbox; --IE10--
    display: flex;
    -ms-flex-wrap: wrap; --IE10--
    flex-wrap: wrap;
    padding: 0 4px;
}

Create four equal columns that sits next to each other
.column {
    -ms-flex: 25%; --IE10 --
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
} */

 /* Responsive layout - makes a two column-layout instead of four columns 
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

Responsive layout - makes the two columns stack on top of each other instead of next to each other
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
} */

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class="column"] {
        width: 100%;
    }
}